{% load static %}
{% load hobby_extras %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/glav">Hobby-shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/glav">Главная</a>
                </li>
                <li class="nav-item">
                    {#                  <a class="nav-link" href="#">Каталог</a>#}
                    {#                    <div class="nav-link dropdown-center">#}
                    {#                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"#}
                    {#                                aria-expanded="false">#}
                    {#                            Каталог#}
                    {#                        </button>#}
                    {#                        <ul class="dropdown-menu">#}
                    {#                            <li><a class="dropdown-item" href="#">Action</a></li>#}
                    {#                            <li><a class="dropdown-item" href="#">Action two</a></li>#}
                    {#                            <li><a class="dropdown-item" href="#">Action three</a></li>#}
                    {#                        </ul>#}
                    {#                    </div>#}
                    <a class="nav-link active" aria-current="page" href="/catalog">Каталог</a>
                    {#                    <a class="nav-link dropdown-center" data-bs-toggle="dropdown" href="/catalog">Каталог</a>#}

                    {#                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                    {#                        <li><a class="dropdown-item" href="#">Букет</a></li>#}
                    {#                        <li><a class="dropdown-item" href="#">Композиция</a></li>#}
                    {##}
                    {#                    </ul>#}
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/o_nas">О Нас</a>
                </li>
                {#        <li class="nav-item dropdown">#}
                {#          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
                {#            Dropdown#}
                {#          </a>#}
                {#          <ul class="dropdown-menu">#}
                {#            <li><a class="dropdown-item" href="#">Action</a></li>#}
                {#            <li><a class="dropdown-item" href="#">Another action</a></li>#}
                {#            <li><hr class="dropdown-divider"></li>#}
                {#            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                {#          </ul>#}
                {#        </li>#}

                {#        <li class="nav-item">#}
                {#          <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
                {#        </li>#}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
{#  регистрация     #}
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i
                            class="fa-solid fa-user-tie"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Регистрация</a></li>
                        <li><a class="dropdown-item" href="/registration">Авторизация</a></li>

                    </ul>
                </li>
{#  корзина иконка     #}
                <li class="nav-item ">
                    <a class="nav-link " href="#" data-bs-toggle="modal" data-bs-target="#modal-cart">
                        <i class="fa-solid fa-cart-plus"></i>
                    </a>
                    <div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header bg-success text-white">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Корзина</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <section class="shop-cart">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h1 class="text-center text-success text-uppercase fw-bold mb-5 mt-3">
                                                        Ваши покупки: </h1>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% with total_items=cart|length %}
                                                    {% if cart|length > 0 %}
                                                        <h5>В вашей корзине:
                                                            <a href="{% url "cart:cart_detail" %}">
                                                                {{ total_items }} {{ total_items|ru_plural:"элемент,элемента,элементовов" }}
                                                        </h5>
                                                        {#                                                            ${{ cart.get_total_price }}#}
                                                        </a>
                                                    {% else %}
                                                        <h3 class="text-center text-danger text-uppercase fw-bold mb-5 mt-3">
                                                            У Вас нет покупок.</h3>

                                                    {% endif %}
                                                {% endwith %}
                                            </div>
                                            <div class="row table table-striped">
                                                <table class="cart text-center ">

                                                    <thead>
                                                    <tr class="bg-secondary-subtle">
                                                        <th>Изображение</th>
                                                        <th>Товар</th>
                                                        <th>Количество</th>
                                                        <th>Удалить</th>
                                                        <th>Стоимость</th>
                                                        <th>Всего</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="cart-product text-center ">

                                                    {% for item in cart %}
                                                        {% with product=item.product %}
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ hobby.get_absolute_url }}">
                                                                        <img src="
                                                                    {% if product.img %}
                                                                        {{ product.img.url }}
                                                                    {% else %}
                                                                        {% static "img/изображение_viber_2023-06-28_17-45-27-299.jpg" %}
                                                                    {% endif %}" width="100px" height="100px">
                                                                    </a>
                                                                </td>
                                                                <td>{{ product.name }}</td>
                                                                <td>{{ item.quantity }}</td>
                                                                <td><a href="{% url "cart:cart_remove" product.id %}">Удалить</a>
                                                                </td>
                                                                <td class="num">{{ item.price }} руб.</td>
                                                                <td class="num">{{ item.total_price }} руб.</td>
                                                            </tr>
                                                        {% endwith %}
                                                    {% endfor %}
                                                    <tr class="total bg-secondary-subtle">
                                                        <td colspan="4"></td>
                                                        <td class="text-end text-danger">Итого к оплате:</td>

                                                        <td class="num text-success">{{ cart.get_total_price }} руб.
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <p class="text-right text-center text-uppercase mb-5 mt-5">
                                                    <a href="/glav" class="btn btn-success btn-outline-warning col-3">Продолжить
                                                        покупки</a>
                                                    <a href="#" class="btn btn-success btn-outline-warning col-3">Оформить
                                                        заказ</a>
                                                </p>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                            </div>
                        </div>
                </li>
{#  система поиска   #}
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'post_search' %}">
                        <i class="fa-solid fa-magnifying-glass" style="color: #461f51;"></i>
                    </a>
                </li>
            </ul>

            {#      <form class="d-flex" role="search">#}
            {#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
            {#        <button class="btn btn-outline-success" type="submit">Search</button>#}
            {#      </form>#}
        </div>
    </div>
</nav>

{#     Карусель     #}
<section class="carousel col-12">
    <div class="container-fluid my-carousel">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride='carousel'
             data-bs-interval="5000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">


                {% for hobby in last_posts %}
                    <div class="carousel-item active">
                        <img src="{{ hobby.img.url }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>


{% block content %}{% endblock %}

<footer>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <h4>Информация</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О Магазине</a></li>
                        <li><a href="#">Оплата и доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>


                <div class="col-md-3 col-6">
                    <h4>Время работы</h4>
                    <ul class="list-unstyled">
                        <li>г.Барановичи, б-р Штоккерау, 5а</a></li>
                        <li>пн-пт: 9:00 - 18:00</li>
                        <li>сб: 9:00 - 15:00</li>
                        <li>вс: выходной</li>
                    </ul>
                </div>


                <div class="col-md-3 col-6">
                    <h4>Контакты</h4>
                    <ul class="list-unstyled">
                        <li><a href="tel:375297267099">+375 29 726-70-99</a></li>
                        <li><a href="tel:375447267099">+375 44 726-70-99</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-6">
                    <h4>Мы в сети</h4>
                    <div class="footer-icons">
                        <a href="#"><i class="fa-brands fa-facebook" style="color: #155fe0;"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube" style="color: #ff1100;"></i></a>
                        <a href="https://instagram.com/podarki_ot_zoi?igshid=MzRlODBiNWFlZA=="><i
                                class="fa-brands fa-instagram" style="color: #fe0101;"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</footer>
<script src="{% static 'jc/bootstrap.bundle.min.js' %}"></script>
</body>
</html>