{% extends 'hobby/index-base.html' %}
{% load static %}
{% block title %}{{ hobby.name }}{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'hobby/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'hobby/o_nas.css' %}">
{% endblock %}

{% block content %}
    <div class="o_nas" >
        <h1 align="center">Информация о нас</h1>
        <h3>Мы работаем на рынке более 10 лет по изготовлению сьедобных подарков. Мы рады порадовать
            Вас вкусняшками на Ваш праздник.</h3>
    </div>


{% endblock %}